<div class="container mt-3 p-3 Regular shadow ">
    <div class="row justify-content-between align-items-center vh-100">
        <div class="col-md-6 col-sm-12">
            <img src="../assets/images/th (1).jpg" alt="Image" style="width: 600px; max-width: 100%;">
        </div>
        <div class="card col-md-6 col-sm-12 p-5" style="background-color: #eee;">
            <h2 class="mb-4 text-center">Login</h2>
            <form [formGroup]=" loginForm">
                <div class="form-group mb-2">
                    <label for="email">User name:</label>
                    <input type="email" id="email" name="userName" class="form-control" formControlName="username"
                        placeholder="username">
                </div>
                <div class="form-group mb-4">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" formControlName="password"
                        placeholder="password">
                </div>
                <button type="submit" [disabled]="loginForm.invalid" style="width: 100%;" class="btn btn-primary"
                    (click)="submit()">submit</button>
            </form>
            <span class="text-center mt-3">Don't have an account? <a routerLink="/Register">SignUp</a></span>
        </div>

    </div>

</div>






<!-- <div class="">
    <div class="row align-items-center justify-content-between">
        <div class="col-md-6 col-sm-12">
            <img src="../assets/images/photo.jpg" alt="Image" style="max-width: 100%;">
        </div>
        <div class="col-md-6 col-sm-12">
            <h3 class="mb-3" style="color: blue;text-align: center;">About the project</h3>
            <p style="line-height:2; font-size:large;">

                Fekra plus
                An intelligent platform that evaluates the feasibility of business ideas using AI-powered analysis.
                Users can input details about their project — such as budget, target market, and expected revenue —
                and the system gathers real market data from trusted sources like Google Trends, Statista, and
                Amazon.
                It then analyzes this data to generate a visual report, including profitability insights, market
                trends,
                recommendations, and an estimated success probability all in one place.
            </p>
            @if (username)
            { <div class="text-center mt-5">
                <button class=" btn btn-primary " (click)="createform()">Start Analysis</button>
            </div>}
            @if (!username)
            { <div class="text-center mt-5">
                <button class=" btn btn-primary " (click)="login()">Start Analysis</button>
            </div>}

        </div>
    </div>
</div> -->