<div class="bg-form d-flex align-items-center justify-content-center min-vh-100">
    <div class="container">
        <div class="card shadow-lg p-4">
            <header class="text-center mb-4">
                <h3 class="text-primary">Create New Analysis</h3>
            </header>

            <form [formGroup]="productForm">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label for="">Project Name</mat-label>
                            <input matInput type="text" placeholder="Project Name" formControlName="ProjectName">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label>Country</mat-label>
                            <mat-select formControlName="TargetCountries">
                                <mat-option value="مصر">Egypt</mat-option>
                                <mat-option value="السعوديه">Saudi Arabia</mat-option>
                                <mat-option value="الامارات">United Arab Emirates</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label>Launch Date</mat-label>
                            <mat-select formControlName="LaunchDate">
                                <mat-option value="In 3–4 months">In 3–4 months</mat-option>
                                <mat-option value="In 6 months">In 6 months</mat-option>
                                <mat-option value="More than 6 months">More than 6 months</mat-option>
                                <mat-option value="To be determined (TBD)">To be determined (TBD)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label>Target Audience </mat-label>
                            <mat-select formControlName="TargetPeople">
                                <mat-option value="Men">Men</mat-option>
                                <mat-option value="Women ">Women</mat-option>
                                <mat-option value="Business Owner"> Business Owner</mat-option>
                                <mat-option value="Old People"> Old People</mat-option>
                                <mat-option value="Student">Student</mat-option>
                                <mat-option value="All">All</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label> Project Type</mat-label>
                            <mat-select formControlName="ProjectType">
                                <mat-option value="App">App</mat-option>
                                <mat-option value="Delivery service">Delivery service</mat-option>
                                <mat-option value="Store">Store</mat-option>
                                <mat-option value="New Product">New Product</mat-option>
                                <mat-option value="Online Store">Online Store</mat-option>
                                <mat-option value="Company">Company</mat-option>
                                <mat-option value="Others">Others</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label for="">Budget</mat-label>
                            <input matInput type="number" placeholder="$ 1000" formControlName="Budget">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label>Revenue/Expense Frequency</mat-label>
                            <mat-select formControlName="RevExp">
                                <mat-option value="Monthly – (Per month)">Monthly – (Per month)</mat-option>
                                <mat-option value="Yearly – (Per year)">Yearly – (Per year)</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label for="Revenue">Expected Revenue</mat-label>
                            <input matInput type="number" placeholder="$ 1000" formControlName="Revenue">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label for="expencese">Expected Expencese</mat-label>
                            <input matInput type="number" placeholder="$ 1000" formControlName="Expencese">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <mat-form-field class="w-100">
                            <mat-label for="">Keyword</mat-label>
                            <input matInput type="text" placeholder="" formControlName="Keyword">
                        </mat-form-field>
                    </div>
                </div>

                <div class="text-end mt-4">
                    <button class="btn btn-danger me-2" type="reset" (click)="cancel()">Cancel</button>
                    <button class="btn btn-primary" type="submit" [disabled]="productForm.invalid"
                        (click)="submit()">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>