<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="row w-100 justify-content-center">
        <div class="card col-md-5 p-5" style="background-color: #eee;">
            <h2 class="mb-4 text-center">SignUp</h2>
            <form [formGroup]="RegisterForm">
                <div class="form-group mb-4">
                    <label for="email">User name:</label>
                    <input type="email" id="email" name="userName" class="form-control" formControlName="username"
                        placeholder="username">
                </div>
                <div class="form-group mb-4">
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" class="form-control" formControlName="email"
                        placeholder="Email">
                </div>
                <div class="form-group mb-4">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" class="form-control" formControlName="password"
                        placeholder="password">
                </div>
                <div class="form-group mb-4">
                    <label for="confirmpassword"> Confirm Password:</label>
                    <input type="password" id="confirmpassword" name="confirmpassword" class="form-control"
                        formControlName="cpassword" placeholder="password">
                </div>
                <button type="submit" [disabled]="RegisterForm.invalid" style="width: 100%;" class="btn btn-primary"
                    (click)="submit()">submit</button>
            </form>
            <span class="text-center mt-3">Already have Account ? <a routerLink="/login">Login</a></span>
        </div>
    </div>
</div>