<div class="container">
    <header>
        <div class="mt-4 d-flex justify-content-between align-items-center">
            <div>
                <h4>Welcome, <span style="color: blue;">{{ username }}</span></h4>
            </div>
            <div>
                <button class="btn btn-primary" (click)="createform()">Start Analysis</button>
            </div>
        </div>
    </header>
    <div class="">
        <div class="row align-items-center justify-content-between">
            <div class="col-md-6 col-sm-12">
                <img src="../assets/images/photo.jpg" alt="Image" style="max-width: 100%;">
            </div>
            <div class="col-md-6 col-sm-12">
                <p style="line-height:2;">
                    About the Project
                    Our Analysis Project Website is a dedicated platform for delivering high-quality data analysis,
                    research, and insights. We focus on transforming complex datasets into clear, actionable knowledge
                    that drives better decision-making. Whether you're a business leader, researcher, or student, our
                    tools and reports are designed to help you uncover trends, patterns, and opportunities hidden in
            </div>
        </div>
    </div>



</div>