<div class="container py-5">
    <h2 class="text-center mb-5">Choose a plan thats fits you</h2>
    <h4 class="text-center mb-5">Our Pricing Plans</h4>
    <div class="row">
        <div class="col-md-4" *ngFor="let plan of plans">
            <div class="card shadow-sm">
                <div class="card-header text-center bg-primary text-white">
                    <h4>{{ plan.name }}</h4>
                </div>
                <div class="card-body text-center">
                    <h2 class="card-title">{{ plan.price }}</h2>
                    <ul class="list-unstyled my-3">
                        <li *ngFor="let feature of plan.features">✔ {{ feature }}</li>
                    </ul>
                    <button class="btn btn-outline-primary" (click)="sumbit(plan.id)">Choose Plan</button>
                </div>
            </div>
        </div>
        <div class="text-center mt-5">
            <button class="btn btn-primary fs-5" (click)="Freetrial()">Start your free trial</button>
        </div>

    </div>
</div>