/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
    height: 100vh;
    /* background-color: #22282e !important; */

}

body {
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 20px !important;
}


.text_white {
    color: #fff !important;
}



.bg_black_dark {
    background: #22282e !important;
}



.radius-10 {
    border-radius: 10px;
}



.fs-30 {
    font-size: 30px !important;
}



table {
    border-radius: 10px;
}

thead {
    background: #293138 !important;
}

thead tr {
    color: #aab8c5 !important;
}

.mat-mdc-table .mat-mdc-header-cell:first-child {
    border-top-left-radius: 6px;
}

.mat-mdc-table .mat-mdc-header-cell:last-child {
    border-top-right-radius: 6px !important;
}


tbody {
    background: #282f36 !important;
}

tbody td {
    color: #fff !important;

}



mat-paginator {
    background: #293138 !important;
    color: #fff !important;
}

.mat-mdc-paginator-container {
    justify-content: center !important;
}

.mat-mdc-icon-button .mat-mdc-paginator-icon {
    fill: #fff !important;
}

.mat-mdc-icon-button[disabled] .mat-mdc-paginator-icon {
    fill: gray !important;
}

.mat-mdc-select-value-text {
    color: #000;
}

.mat-mdc-select-arrow svg {
    fill: #fff;
}


.c-table {
    height: 70vh;
    overflow-y: scroll;
}